[rend~="h1"],
[rend~="h2"],
[rend~="h3"],
[rend~="h4"],
[rend~="h5"],
[rend~="h6"],
[rend~="blockquote"] {
  font-family: "source-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.1;
}

[rend~="h4"] {
  padding-top: 40px;
  font-size: 18px;
}

[rend~="uppercase"] {
  text-transform: uppercase;
}
[rend~="italic"] {
  font-style: italic;
}
[rend~="bold"] {
  font-weight: bold;
}
[rend~="red"] {
  color: red;
}
[rend~="green"] {
  color: green;
}
[rend~="blue"] {
  color: blue;
}
[rend~="purple"] {
  color: purple;
}
[rend~="orange"] {
  color: orange;
}
[rend~="brown"] {
  color: brown;
}
[rend~="gray"] {
  color: gray;
}
[rend~="small"] {
  font-size: small;
}
[rend~="medium"] {
  font-size: large;
}

[rend~="large"] {
  font-size: x-large;
}

[rend~="underline"] {
  text-decoration: underline;
}

[rend~="line-through"] {
  text-decoration: line-through;
}

[rend~="center"] {
  text-align: center;
}

[rend~="subscript"] {
  vertical-align: sub;
  font-size: smaller;
}

[rend~="superscript"] {
  vertical-align: super;
  font-size: smaller;
}

/* C */

tei-cell {
  border-right: thin solid black;
  border-bottom: thin solid black;
  padding: 2px;
  border-collapse: collapse;
}
/* for cell or row with @role = label */
tei-cell[role="label"] {
  font-weight: bold;
}

/* D */

tei-del {
  color: black;
  text-decoration: line-through;
}

tei-div {
  display: block;
}

tei-div[type="poem"] {
  counter-reset: lineno;
}

/* G */

/* tei-graphic {
    TODO
} */

/* H */

tei-hi {
  padding: 0px;
  margin: 0px;
}

/* I */

tei-item > tei-list {
  margin-top: 0;
}

tei-item {
  display: list-item;
  margin-left: 1em;
}

/* L */

tei-l {
  display: block;
  line-height: 1.5rem;
  padding-left: 3em;
  width: 35em;
}

tei-l[rend~="indent1"],
tei-l > tei-seg[rend~="indent1"] {
  display: inline-block;
  text-indent: 0.5em;
}

tei-l[rend~="indent2"],
tei-l > tei-seg[rend~="indent2"] {
  display: inline-block;
  text-indent: 1em;
}

tei-l[rend~="indent3"],
tei-l > tei-seg[rend~="indent3"] {
  display: inline-block;
  text-indent: 1.5em;
}

tei-l[rend~="indent4"],
tei-l > tei-seg[rend~="indent4"] {
  display: inline-block;
  text-indent: 2em;
}

tei-l[rend~="indent5"],
tei-l > tei-seg[rend~="indent5"] {
  display: inline-block;
  text-indent: 2.5em;
}

tei-l[rend~="indent6"],
tei-l > tei-seg[rend~="indent6"] {
  display: inline-block;
  text-indent: 3em;
}

tei-l[rend~="indent7"],
tei-l > tei-seg[rend~="indent7"] {
  display: inline-block;
  text-indent: 3.5em;
}

tei-l[rend~="indent8"],
tei-l > tei-seg[rend~="indent8"] {
  display: inline-block;
  text-indent: 4em;
}

tei-l[rend~="indent9"],
tei-l > tei-seg[rend~="indent9"] {
  display: inline-block;
  text-indent: 4.5em;
}

tei-l[rend~="indent10"],
tei-l > tei-seg[rend~="indent10"] {
  display: inline-block;
  text-indent: 5em;
}

tei-l[rend~="indent11"],
tei-l > tei-seg[rend~="indent11"] {
  display: inline-block;
  text-indent: 5.5em;
}

tei-l[rend~="indent12"],
tei-l > tei-seg[rend~="indent12"] {
  display: inline-block;
  text-indent: 6em;
}

tei-l[rend~="indent13"],
tei-l > tei-seg[rend~="indent13"] {
  display: inline-block;
  text-indent: 6.5em;
}

tei-l[rend~="indent14"],
tei-l > tei-seg[rend~="indent14"] {
  display: inline-block;
  text-indent: 7em;
}

tei-l[rend~="indent15"],
tei-l > tei-seg[rend~="indent15"] {
  display: inline-block;
  text-indent: 7.5em;
}

tei-l[rend~="indent16"],
tei-l > tei-seg[rend~="indent16"] {
  display: inline-block;
  text-indent: 8em;
}

tei-l[rend~="lineno"],
tei-l[rend~="linenoSeg1"],
tei-l[rend~="linenoSeg2"] {
  counter-increment: lineno;
}

tei-l[rend~="lineSeg1"],
tei-l > tei-seg[rend~="lineSeg1"] {
  line-height: 1.5rem;
  padding-left: 3em;
}

tei-l[rend~="lineSeg2"],
tei-l > tei-seg[rend~="lineSeg2"] {
  line-height: 1.5rem;
  padding-left: 3em;
}

tei-l[rend~="lineno"]:before,
tei-l[rend~="linenoSeg2"]:before,
tei-l > tei-seg[rend~="linenoSeg2"]:before,
tei-l[rend~="linenoSeg1"]:before,
tei-l > tei-seg[rend~="linenoSeg1"]:before {
  content: counter(lineno);
  display: inline-block;
  border-right: 1px solid #b9b9b9;
  padding: 0 0.5em;
  color: #888;
  left: -5ex;
  position: absolute;
  text-align: right;
  width: 6ex;
  text-indent: 0;
}

tei-lb {
  display: block;
}

tei-lb[rend="horizontal-rule"] {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 0.5em 0;
}

tei-lg {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  line-height: 0;
  position: relative;
  left: 20px;
}

tei-list {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  /* list-style-type: none; */
}

tei-list[rend~="list-style-none"] {
  list-style-type: none;
}

tei-list[rend~="numbered"] {
  counter-reset: listno;
}

tei-list[rend~="numbered"] tei-item {
  counter-increment: listno;
  list-style-type: none;
}

tei-list[rend~="list-style-upper-roman"] tei-item:before {
  content: counter(listno, upper-roman) ".'";
}

tei-list[rend~="numbered"] tei-item:before {
  content: counter(listno) ". ";
  padding-right: 8px;
}

/* P */

tei-p {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 1.4em;
}

/* R */

tei-ref {
  color: #5f0000;
  text-decoration: underline;
}

tei-row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

/* S */

tei-seg {
  margin: 0px;
  padding: 0px;
}

/* T */

tei-table {
  display: block;
  border-top: thin solid black;
  border-left: thin solid black;
}
tei-table {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 12pt;
}
tei-table > tei-head {
  border-bottom: thin solid black;
  border-right: thin solid black;
  font-size: 120%;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

tei-teiheader {
  display: none;
}

/* Inline styles, programmatically added */

[rend~="style489"] {
  text-align: center;
}
[rend~="style490"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style491"] {
  text-align: center;
}
[rend~="style492"] {
  height: 75%;
}
[rend~="style493"] {
  width: 75%;
}
[rend~="style494"] {
  text-align: center;
}
[rend~="style495"] {
  text-align: right;
}
[rend~="style496"] {
  text-align: left;
}
[rend~="style497"] {
  margin-left: 56%;
}
[rend~="style498"] {
  width: 87.5%;
}
[rend~="style499"] {
  text-align: left;
  margin-left: 10%;
}
[rend~="style500"] {
  text-align: left;
  margin-left: 25%;
}
[rend~="style501"] {
  text-align: left;
  margin-left: 27%;
}
[rend~="style502"] {
  text-align: left;
  margin-left: 34%;
}
[rend~="style503"] {
  text-align: left;
  margin-left: 33%;
}
[rend~="style504"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style505"] {
  margin-left: 12%;
  margin-right: 12%;
}
[rend~="style506"] {
  margin-left: 23.5%;
}
[rend~="style507"] {
  float: left;
  width: 50%;
}
[rend~="style508"] {
  text-align: right;
  margin-right: 33%;
}
[rend~="style509"] {
  width: 455px;
}
[rend~="style510"] {
  text-align: left;
}
[rend~="style511"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style512"] {
  height: 384px;
}
[rend~="style513"] {
  width: 510px;
}
[rend~="style514"] {
  float: right;
  width: 25%;
}
[rend~="style515"] {
  text-align: right;
}
[rend~="style516"] {
  text-align: left;
}
[rend~="style517"] {
  text-align: left;
  margin-left: 32.25%;
}
[rend~="style518"] {
  margin-left: 13%;
}
[rend~="style519"] {
  margin-left: 27.6%;
}
[rend~="style520"] {
  text-align: left;
  margin-left: 24.5%;
}
[rend~="style521"] {
  text-align: right;
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style522"] {
  font-variant: small-caps;
}
[rend~="style523"] {
  margin-left: 70%;
  margin-right: 10%;
}
[rend~="style524"] {
  text-align: left;
  margin-left: 26.6%;
}
[rend~="style525"] {
  text-align: left;
  margin-left: 26.5%;
}
[rend~="style526"] {
  text-align: left;
  margin-left: 25.35%;
}
[rend~="style527"] {
  text-align: left;
  margin-left: 25.77%;
}
[rend~="style528"] {
  text-align: left;
  margin-left: 24.4%;
}
[rend~="style529"] {
  margin-left: 4.5%;
}
[rend~="style530"] {
  margin-left: 8.5%;
}
[rend~="style531"] {
  margin-left: 40%;
  margin-right: 15%;
}
[rend~="style532"] {
  margin-left: 20%;
  margin-right: 10%;
}
[rend~="style533"] {
  margin-left: 15%;
  margin-right: 15%;
}
[rend~="style534"] {
  margin-left: 45%;
  margin-right: 20%;
}
[rend~="style535"] {
  margin-left: 60%;
  margin-right: 20%;
}
[rend~="style536"] {
  font-size: 1.125em;
}
[rend~="style537"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style538"] {
  text-align: right;
  font-size: 1.125em;
}
[rend~="style539"] {
  width: 500px;
}
[rend~="style540"] {
  margin-left: 25%;
}
[rend~="style541"] {
  margin-left: 5%;
}
[rend~="style542"] {
  list-style: none;
}
[rend~="style543"] {
  margin-left: 20%;
}
[rend~="style544"] {
  margin-left: 10%;
}
[rend~="style545"] {
  margin-right: 10%;
}
[rend~="style546"] {
  margin-right: 20%;
}
[rend~="style547"] {
  width: 226px;
}
[rend~="style548"] {
  margin-left: 33%;
}
[rend~="style549"] {
  font-size: 85%;
}
[rend~="style550"] {
  margin-left: 15%;
  margin-right: 15%;
}
[rend~="style551"] {
  margin-left: 27%;
}
[rend~="style552"] {
  margin-left: 12%;
}
[rend~="style553"] {
  margin-left: 1%;
}
[rend~="style554"] {
  text-align: center;
  margin-bottom: 0px;
}
[rend~="style555"] {
  width: 7.5%;
}
[rend~="style556"] {
  text-align: center;
  margin-top: -36px;
}
[rend~="style557"] {
  text-align: right;
}
[rend~="style558"] {
  text-align: center;
}
[rend~="style559"] {
  width: 90%;
}
[rend~="style560"] {
  text-align: center;
  font-size: 25px;
}
[rend~="style561"] {
  text-align: center;
  font-size: 15px;
}
[rend~="style562"] {
  text-align: center;
  font-size: 20px;
}
[rend~="style563"] {
  text-align: center;
  font-size: 22.5px;
}
[rend~="style564"] {
  text-align: center;
}
[rend~="style565"] {
  width: 50%;
}
[rend~="style566"] {
  height: 400px;
}
[rend~="style567"] {
  height: 300px;
}
[rend~="style568"] {
  width: 300px;
}
[rend~="style569"] {
  width: 400px;
}
[rend~="style570"] {
  height: 259px;
}
[rend~="style571"] {
  width: 522px;
}
[rend~="style572"] {
  margin-left: 12%;
  margin-right: 12%;
}
[rend~="style573"] {
  margin-left: 5%;
  margin-right: 45%;
}
[rend~="style574"] {
  margin-left: 10%;
  margin-right: 10;
}
[rend~="style575"] {
  margin-left: 20%;
  margin-right: 20;
}
[rend~="style576"] {
  font-size: 125%;
}
[rend~="style577"] {
  margin-left: 4.25%;
}
[rend~="style578"] {
  margin-left: 18.75%;
}
[rend~="style579"] {
  margin-left: 65%;
  margin-right: 10%;
}
[rend~="style580"] {
  margin-left: 19%;
}
[rend~="style581"] {
  margin-left: 31%;
}
[rend~="style582"] {
  margin-left: 28%;
}
[rend~="style583"] {
  margin-left: 10%;
  margin-right: 40%;
}
[rend~="style584"] {
  margin-left: 30%;
  margin-right: 40%;
}
[rend~="style585"] {
  margin-left: 20%;
  margin-right: 20%;
}
[rend~="style586"] {
  margin-left: 60%;
  margin-right: 10%;
}
[rend~="style587"] {
  margin-left: 80%;
  margin-right: 10%;
}
[rend~="style588"] {
  margin-left: 5%;
  margin-right: 5%;
}
[rend~="style589"] {
  margin-left: 5%;
  margin-right: 40%;
}
[rend~="style590"] {
  margin-left: 35%;
  margin-right: 40%;
}
[rend~="style591"] {
  margin-left: 0%;
  margin-right: 45%;
}
[rend~="style592"] {
  text-align: left;
  margin-left: 33%;
}
[rend~="style593"] {
  height: 22px;
}
[rend~="style594"] {
  width: 22px;
}
[rend~="style595"] {
  height: 378px;
}
[rend~="style596"] {
  width: 620px;
}
[rend~="style597"] {
  height: 368px;
}
[rend~="style598"] {
  height: 801px;
}
[rend~="style599"] {
  width: 600px;
}
[rend~="style600"] {
  height: 430px;
}
[rend~="style601"] {
  height: 330px;
}
[rend~="style602"] {
  width: 324px;
}
[rend~="style603"] {
  height: 537px;
}
[rend~="style604"] {
  width: 661px;
}
[rend~="style605"] {
  height: 598px;
}
[rend~="style606"] {
  height: 50%;
}
[rend~="style607"] {
  width: 50%;
}
[rend~="style608"] {
  height: 100%;
}
[rend~="style609"] {
  width: 100%;
}
[rend~="style610"] {
  height: 250px;
}
[rend~="style611"] {
  height: 472px;
}
[rend~="style612"] {
  height: 426px;
}
[rend~="style613"] {
  width: 532px;
}
[rend~="style614"] {
  height: 691px;
}
[rend~="style615"] {
  width: 500px;
}
[rend~="style616"] {
  height: 500px;
}
[rend~="style617"] {
  width: 552px;
}
[rend~="style618"] {
  height: 467px;
}
[rend~="style619"] {
  height: 337px;
}
[rend~="style620"] {
  height: 388px;
}
[rend~="style621"] {
  height: 497px;
}
[rend~="style622"] {
  width: 368px;
}
[rend~="style623"] {
  width: 200px;
}
[rend~="style624"] {
  height: 425px;
}
[rend~="style625"] {
  width: 670px;
}
[rend~="style626"] {
  height: 792px;
}
[rend~="style627"] {
  width: 612px;
}
[rend~="style628"] {
  height: 718px;
}
[rend~="style629"] {
  height: 698px;
}
[rend~="style630"] {
  height: 393px;
}
[rend~="style631"] {
  height: 140px;
}
[rend~="style632"] {
  width: 140px;
}
[rend~="style633"] {
  height: 363px;
}
[rend~="style634"] {
  width: 280px;
}
[rend~="style635"] {
  height: 377px;
}
[rend~="style636"] {
  width: 295px;
}
[rend~="style637"] {
  height: 355px;
}
[rend~="style638"] {
  width: 496px;
}
[rend~="style639"] {
  height: 387px;
}
[rend~="style640"] {
  margin-left: 15%;
  margin-right: 10%;
}
[rend~="style641"] {
  height: 405px;
}
[rend~="style642"] {
  width: 654px;
}
[rend~="style643"] {
  width: 310px;
}
[rend~="style644"] {
  height: 809px;
}
[rend~="style645"] {
  height: 484px;
}
[rend~="style646"] {
  height: 600px;
}
[rend~="style647"] {
  width: 399px;
}
[rend~="style648"] {
  height: 454px;
}
[rend~="style649"] {
  width: 375px;
}
[rend~="style650"] {
  float: none;
}
[rend~="style651"] {
  height: 441px;
}
[rend~="style652"] {
  height: 412px;
}
[rend~="style653"] {
  width: 325px;
}
[rend~="style654"] {
  height: 480px;
}
[rend~="style655"] {
  height: 435px;
}
[rend~="style656"] {
  width: 562px;
}
[rend~="style657"] {
  height: 466px;
}
[rend~="style658"] {
  width: 660px;
}
[rend~="style659"] {
  height: 449px;
}
[rend~="style660"] {
  width: 643px;
}
[rend~="style661"] {
  height: 326px;
}
[rend~="style662"] {
  width: 673px;
}
[rend~="style663"] {
  height: 429px;
}
[rend~="style664"] {
  height: 350px;
}
[rend~="style665"] {
  width: 466px;
}
[rend~="style666"] {
  height: 265px;
}
[rend~="style667"] {
  width: 587px;
}
[rend~="style668"] {
  height: 327px;
}
[rend~="style669"] {
  height: 371px;
}
[rend~="style670"] {
  height: 370px;
}
[rend~="style671"] {
  height: 331px;
}
[rend~="style672"] {
  width: 558px;
}
[rend~="style673"] {
  height: 284px;
}
[rend~="style674"] {
  width: 640px;
}
[rend~="style675"] {
  height: 599px;
}
[rend~="style676"] {
  width: 426px;
}
[rend~="style677"] {
  height: 461px;
}
[rend~="style678"] {
  height: 456px;
}
[rend~="style679"] {
  height: 637px;
}
[rend~="style680"] {
  width: 412px;
}
[rend~="style681"] {
  height: 360px;
}
[rend~="style682"] {
  width: 219px;
}
[rend~="style683"] {
  height: 192px;
}
[rend~="style684"] {
  width: 264px;
}
[rend~="style685"] {
  height: 283px;
}
[rend~="style686"] {
  width: 265px;
}
[rend~="style687"] {
  height: 742px;
}
[rend~="style688"] {
  width: 410px;
}
[rend~="style689"] {
  height: 436px;
}
[rend~="style690"] {
  width: 615px;
}
[rend~="style691"] {
  height: 496px;
}
[rend~="style692"] {
  width: 614px;
}
[rend~="style693"] {
  height: 359px;
}
[rend~="style694"] {
  height: 210px;
}
[rend~="style695"] {
  width: 144px;
}
[rend~="style696"] {
  width: 140px;
  border: none;
}
[rend~="style697"] {
  width: 40px;
  border: none;
}
[rend~="style698"] {
  width: 45px;
  border: none;
}
[rend~="style699"] {
  width: 60px;
  border: none;
}
[rend~="style700"] {
  border: none;
}
[rend~="style701"] {
  margin-left: 72px;
  border: none;
}
[rend~="style702"] {
  height: 397px;
}
[rend~="style703"] {
  height: 778px;
}
[rend~="style704"] {
  width: 568px;
}
[rend~="style705"] {
  height: 772px;
}
[rend~="style706"] {
  height: 794px;
}
[rend~="style707"] {
  height: 839px;
}
[rend~="style708"] {
  height: 402px;
}
[rend~="style709"] {
  width: 440px;
}
[rend~="style710"] {
  height: 482px;
}
[rend~="style711"] {
  height: 313px;
}
[rend~="style712"] {
  height: 380px;
}
[rend~="style713"] {
  height: 382px;
}
[rend~="style714"] {
  height: 663px;
}
[rend~="style715"] {
  height: 724px;
}
[rend~="style716"] {
  width: 508px;
}
[rend~="style717"] {
  height: 629px;
}
[rend~="style718"] {
  width: 439px;
}
[rend~="style719"] {
  text-decoration: underline;
}
[rend~="style720"] {
  height: 788px;
}
[rend~="style721"] {
  width: 468px;
}
[rend~="style722"] {
  height: 744px;
}
[rend~="style723"] {
  width: 520px;
}
[rend~="style724"] {
  height: 805px;
}
[rend~="style725"] {
  width: 140px;
  border: none;
  vertical-align: top;
}
[rend~="style726"] {
  border: none;
  vertical-align: top;
}
[rend~="style727"] {
  text-align: Right;
}
[rend~="style728"] {
  text-align: Center;
}
[rend~="style729"] {
  text-align: Cneter;
}
[rend~="style730"] {
  text-align: cneter;
}
[rend~="style731"] {
  margin-left: 11%;
}
[rend~="style732"] {
  margin-left: 29.6%;
}
[rend~="style733"] {
  margin-left: 18.4%;
}
[rend~="style734"] {
  margin-left: 23.7%;
}
[rend~="style735"] {
  margin-left: 17.98%;
}
[rend~="style736"] {
  margin-left: 18.9%;
}
[rend~="style737"] {
  margin-left: 24.7%;
}
[rend~="style738"] {
  margin-left: 25.75%;
}
[rend~="style739"] {
  margin-left: 24%;
}
[rend~="style740"] {
  margin-left: 24.26%;
}
[rend~="style741"] {
  margin-left: 24.1%;
}
[rend~="style742"] {
  margin-left: 24.27%;
}
[rend~="style743"] {
  margin-left: 20%;
  margin-right: 20%;
}
[rend~="style744"] {
  margin-left: 30%;
  margin-right: 30%;
}
[rend~="style745"] {
  text-align: Center;
  margin-top: -36px;
}
[rend~="style746"] {
  margin-left: 10%;
}
[rend~="style747"] {
  text-align: right;
}
[rend~="style748"] {
  text-align: left;
  margin-left: 29.5%;
}
[rend~="style749"] {
  text-align: left;
  margin-left: 15%;
}
[rend~="style750"] {
  text-align: left;
  margin-left: 19%;
}
[rend~="style751"] {
  text-align: left;
  margin-left: 14%;
}
[rend~="style752"] {
  text-align: left;
  margin-left: 25.5%;
}
[rend~="style753"] {
  text-align: left;
  margin-left: 18.5%;
}
[rend~="style754"] {
  margin-left: 15%;
}
[rend~="style755"] {
  margin-left: 22%;
}
[rend~="style756"] {
  float: left;
}
[rend~="style757"] {
  float: right;
}
[rend~="style758"] {
  margin-left: 25%;
}
[rend~="style759"] {
  list-style-type: upper-roman;
}
[rend~="style760"] {
  text-indent: -50px;
  margin-left: 25%;
}
[rend~="style761"] {
  margin-right: 75%;
}
[rend~="style762"] {
  float: right;
  font-weight: lighter;
  width: 1px;
  font-size: 500%;
  line-height: 80%;
}
[rend~="style763"] {
  width: 100%;
}
[rend~="style764"] {
  margin-left: 31.5%;
}
[rend~="style765"] {
  margin-left: 26%;
}
[rend~="style766"] {
  margin-left: 25px;
}
[rend~="style767"] {
  background-color: rgb(206, 198, 206);
}
[rend~="style768"] {
  background-color: rgb(255, 255, 0);
}
[rend~="style769"] {
  font-weight: bold;
}
[rend~="style770"] {
  margin-left: 50%;
  margin-right: 10%;
}
[rend~="style771"] {
  margin-left: 10%;
  margin-right: 10%;
  text-align: right;
}
[rend~="style772"] {
  margin-left: 50%;
  margin-right: 10%;
}
[rend~="style773"] {
  margin-right: 10%;
  text-align: right;
}
[rend~="style774"] {
  margin-left: 10%;
  margin-right: 10%;
  text-align: right;
}
[rend~="style775"] {
  margin-left: 18%;
  margin-right: 18%;
  text-align: center;
}
[rend~="style776"] {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
[rend~="style777"] {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
[rend~="style778"] {
  margin-left: 3%;
  margin-right: 3%;
}
[rend~="style779"] {
  margin-left: 3%;
  margin-right: 3%;
}
[rend~="style780"] {
  text-align: left;
  margin-left: 10%;
}
[rend~="style781"] {
  text-align: left;
  margin-left: 11%;
}
[rend~="style782"] {
  margin-left: 25%;
  margin-right: 10%;
}
[rend~="style783"] {
  margin-left: 50%;
  margin-right: 20%;
}
[rend~="style784"] {
  margin-left: 45%;
  margin-right: 15%;
}
[rend~="style785"] {
  margin-left: 46%;
  margin-right: 20%;
}
[rend~="style786"] {
  margin-left: 40%;
  margin-right: 20%;
}
[rend~="style787"] {
  margin-left: 42%;
  margin-right: 20%;
}
[rend~="style788"] {
  text-align: CENTER;
}
[rend~="style789"] {
  margin-left: 20%;
}
[rend~="style790"] {
  margin-left: 25%;
}
[rend~="style791"] {
  margin-left: 30%;
}
[rend~="style792"] {
  margin-left: 35%;
}
[rend~="style793"] {
  margin-left: 40%;
}
[rend~="style794"] {
  margin-left: 44%;
}
[rend~="style795"] {
  font-variant: large-caps;
}
[rend~="style796"] {
  margin-left: 32%;
}
[rend~="style797"] {
  margin-left: 30%;
}
[rend~="style798"] {
  list-style-type: none;
}
[rend~="style799"] {
  font-style: italic;
}
[rend~="style800"] {
  width: 479px;
}
[rend~="style801"] {
  width: 99%;
}
[rend~="style802"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style803"] {
  margin-left: 11%;
  margin-right: 11%;
}
[rend~="style804"] {
  margin-left: 8%;
  margin-right: 8%;
}
[rend~="style805"] {
  text-align: center;
  margin-top: 0px;
}
[rend~="style806"] {
  margin-left: 18.3%;
}
[rend~="style807"] {
  margin-left: 16.3%;
}
[rend~="style808"] {
  height: 4em;
}
[rend~="style809"] {
  text-align: right;
  margin-right: 32%;
}
[rend~="style810"] {
  font-size: 325%;
}
[rend~="style811"] {
  text-align: right;
  margin-right: 24%;
}
[rend~="style812"] {
  margin-left: 30%;
  margin-right: 10%;
}
[rend~="style813"] {
  color: inherit;
}
[rend~="style814"] {
  text-align: right;
}
[rend~="style815"] {
  margin-left: 16.75%;
}
[rend~="style816"] {
  margin-left: 25.5%;
}
[rend~="style817"] {
  height: 123px;
}
[rend~="style818"] {
  width: 407px;
}
[rend~="style819"] {
  margin-left: 5%;
  margin-right: 5%;
}
[rend~="style820"] {
  float: right;
  padding-right: 40px;
}
[rend~="style821"] {
  padding-left: 40px;
}
[rend~="style822"] {
  padding-left: 20px;
}
[rend~="style823"] {
  float: right;
  padding-right: 120px;
}
[rend~="style824"] {
  float: right;
  padding-right: 80px;
}
[rend~="style825"] {
  float: right;
  padding-right: 160px;
}
[rend~="style826"] {
  float: right;
  padding-right: 60px;
}
[rend~="style827"] {
  float: right;
  padding-right: 150px;
}
[rend~="style828"] {
  float: right;
  padding-right: 100px;
}
[rend~="style829"] {
  float: right;
  padding-right: 190px;
}
[rend~="style830"] {
  background: white;
  padding: 7px;
}
[rend~="style831"] {
  margin-left: 29%;
}
[rend~="style832"] {
  text-align: left;
  margin-left: 34.5%;
}
[rend~="style833"] {
  margin-left: 18%;
  margin-right: 18%;
}
[rend~="style834"] {
  text-align: left;
  margin-left: 9%;
}
[rend~="style835"] {
  margin-left: 4%;
  margin-right: 4%;
}
[rend~="style836"] {
  margin-right: 10%;
  margin-left: 10%;
}
[rend~="style837"] {
  margin-left: 19.75%;
}
[rend~="style838"] {
  margin-left: 36%;
}
[rend~="style839"] {
  margin-left: 2.25%;
}
[rend~="style840"] {
  margin-left: 20%;
  margin-right: 20%;
}
[rend~="style841"] {
  margin-left: 14%;
  margin-right: 14%;
}
[rend~="style842"] {
  margin-left: 32%;
  margin-right: 32%;
}
[rend~="style843"] {
  margin-left: 13%;
  margin-right: 13%;
}
[rend~="style844"] {
  margin-left: 38%;
}
[rend~="style845"] {
  margin-left: 50%;
  margin-right: 20%;
}
[rend~="style846"] {
  margin-left: 25%;
  margin-right: 10%;
}
[rend~="style847"] {
  margin-left: 50%;
  margin-right: 20;
}
[rend~="style848"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style849"] {
  margin-left: 15%;
  margin-right: 10%;
}
[rend~="style850"] {
  margin-left: 30%;
  margin-right: 10%;
}
[rend~="style851"] {
  text-align: center;
  font-size: 150%;
}
[rend~="style852"] {
  margin-left: 46.4%;
}
[rend~="style853"] {
  margin-left: 34%;
}
[rend~="style854"] {
  margin-left: 25%;
  margin-right: 25%;
}
[rend~="style855"] {
  padding-left: 20px;
}
[rend~="style856"] {
  margin-left: 5%;
}
[rend~="style857"] {
  display: inline-block;
  text-align: left;
}
[rend~="style858"] {
  padding-left: 75%;
}
[rend~="style859"] {
  padding-left: 100px;
}
[rend~="style860"] {
  padding-left: 100px;
}
[rend~="style861"] {
  padding-left: 40px;
}
[rend~="style862"] {
  padding-left: 10px;
}
[rend~="style863"] {
  padding-left: 150px;
}
[rend~="style864"] {
  font-family: "Times New Roman";
}
[rend~="style865"] {
  color: inherit;
  font-family: "Times New Roman";
}
[rend~="style866"] {
  margin-left: 75px;
}
[rend~="style867"] {
  margin-left: 150px;
}
[rend~="style868"] {
  text-align: right;
  font-family: "Times New Roman";
}
[rend~="style869"] {
  color: inherit;
  font-weight: 300;
  font-family: "Times New Roman";
}
[rend~="style870"] {
  font-family: "Times New Roman";
  color: inherit;
}
[rend~="style871"] {
  text-align: left;
  margin-bottom: 0px;
}
[rend~="style872"] {
  margin-left: 35%;
}
[rend~="style873"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style874"] {
  margin-left: 30.5%;
}
[rend~="style875"] {
  padding-left: 37px;
}
[rend~="style876"] {
  text-align: left;
  margin-left: 5%;
}
[rend~="style877"] {
  margin-left: 22%;
  margin-right: 22%;
}
[rend~="style878"] {
  margin-left: 39%;
}
[rend~="style879"] {
  text-align: CENTER;
}
[rend~="style880"] {
  margin-left: 25%;
  margin-right: 25%;
}
[rend~="style881"] {
  margin-left: 40%;
  margin-right: 40%;
}
[rend~="style882"] {
  text-align: Center;
}
[rend~="style883"] {
  margin-left: 32%;
  margin-right: 32%;
}
[rend~="style884"] {
  margin-left: 16%;
}
[rend~="style885"] {
  margin-left: 18.5%;
}
[rend~="style886"] {
  margin-left: 17%;
}
[rend~="style887"] {
  text-align: center;
  margin-bottom: 38px;
}
[rend~="style888"] {
  margin-left: 10%;
  margin-right: 30%;
}
[rend~="style889"] {
  margin-left: 12.5%;
  margin-right: 12.5%;
}
[rend~="style890"] {
  margin-left: 65%;
  margin-right: 12.5%;
}
[rend~="style891"] {
  margin-left: 35%;
  margin-right: 35%;
}
[rend~="style892"] {
  margin-left: 22%;
  margin-right: 22%;
}
[rend~="style893"] {
  text-align: right;
  margin-right: 23%;
}
[rend~="style894"] {
  text-align: left;
  margin-left: 19%;
}
[rend~="style895"] {
  margin-left: 12.75%;
}
[rend~="style896"] {
  margin-left: 10.75%;
}
[rend~="style897"] {
  margin-left: 18.35%;
}
[rend~="style898"] {
  border-spacing: 0px;
  padding: 4px;
  border-width: 0px;
}
[rend~="style899"] {
  margin-left: 33%;
  margin-right: 33%;
}
[rend~="style900"] {
  font-variant: small-caps;
}
[rend~="style901"] {
  margin-left: 8%;
}
[rend~="style902"] {
  margin-left: 18%;
}
[rend~="style903"] {
  height: 1000px;
}
[rend~="style904"] {
  padding-left: 20px;
}
[rend~="style905"] {
  margin-left: 5%;
  margin-right: 57%;
}
[rend~="style906"] {
  margin-left: 1%;
  margin-right: 0%;
  margin-bottom: 0%;
}
[rend~="style907"] {
  font-size: 120%;
}
[rend~="style908"] {
  font-family: Helvetica;
}
[rend~="style909"] {
  margin-left: 12%;
  margin-right: 10%;
}
[rend~="style910"] {
  text-align: left;
  margin-left: 37%;
}
[rend~="style911"] {
  text-align: right;
  margin-right: 40%;
}
[rend~="style912"] {
  margin-left: 5%;
  margin-right: 5%;
}
[rend~="style913"] {
  text-align: right;
  margin-right: 20%;
}
[rend~="style914"] {
  margin-left: 10%;
}
[rend~="style915"] {
  margin-left: 15%;
  margin-right: 15%;
}
[rend~="style916"] {
  margin-left: 10%;
}
[rend~="style917"] {
  padding-left: 90px;
}
[rend~="style918"] {
  margin-left: 21.5%;
}
[rend~="style919"] {
  padding-left: 1em;
}
[rend~="style920"] {
  margin-left: 30%;
  margin-right: 30%;
}
[rend~="style921"] {
  margin-right: 10%;
}
[rend~="style922"] {
  margin-left: 16.5%;
}
[rend~="style923"] {
  margin-left: 11.75%;
}
[rend~="style924"] {
  margin-left: 19.2%;
}
[rend~="style925"] {
  text-align: right;
  margin-right: 20%;
}
[rend~="style926"] {
  margin-left: 35%;
  margin-right: 65%;
}
[rend~="style927"] {
  text-align: right;
  margin-right: 10%;
}
[rend~="style928"] {
  margin-left: 15%;
}
[rend~="style929"] {
  margin-right: 35%;
}
[rend~="style930"] {
  margin-left: 13.25%;
}
[rend~="style931"] {
  margin-left: 80%;
  margin-right: 10%;
}
[rend~="style932"] {
  margin-left: 50%;
}
[rend~="style933"] {
  margin-left: 29.5%;
}
[rend~="style934"] {
  text-align: right;
  margin-right: 26.5%;
}
[rend~="style935"] {
  text-align: left;
  margin-left: 32.5%;
}
[rend~="style936"] {
  margin-left: 45%;
  margin-right: 10%;
}
[rend~="style937"] {
  margin-left: 74%;
  margin-right: 10%;
}
[rend~="style938"] {
  text-align: right;
  margin-right: 35%;
}
[rend~="style939"] {
  text-align: left;
  margin-left: 27.3%;
}
[rend~="style940"] {
  padding-left: 30px;
}
[rend~="style941"] {
  padding-left: 60%;
}
[rend~="style942"] {
  padding-left: 65%;
}
[rend~="style943"] {
  padding-left: 70%;
}
[rend~="style944"] {
  padding-left: 12px;
}
[rend~="style945"] {
  padding-left: 125px;
}
[rend~="style946"] {
  padding-right: 100px;
}
[rend~="style947"] {
  padding-right: 150px;
}
[rend~="style948"] {
  padding-right: 110px;
}
[rend~="style949"] {
  padding-right: 70px;
}
[rend~="style950"] {
  padding-left: 350px;
}
[rend~="style951"] {
  padding-left: 60px;
}
[rend~="style952"] {
  padding-left: 140px;
}
[rend~="style953"] {
  padding-left: 75px;
}
[rend~="style954"] {
  padding-left: 165px;
}
[rend~="style955"] {
  padding-left: 115px;
}
[rend~="style956"] {
  padding-left: 95px;
}
[rend~="style957"] {
  padding-left: 225px;
}
[rend~="style958"] {
  text-align: left;
  margin-left: 24.25%;
}
[rend~="style959"] {
  margin-left: 5%;
  margin-right: 5%;
}
[rend~="style960"] {
  text-align: left;
  margin-left: 24.2%;
}
[rend~="style961"] {
  margin-left: 10.9%;
}
[rend~="style962"] {
  margin-left: 4.9%;
}
[rend~="style963"] {
  margin-left: 9.75%;
}
[rend~="style964"] {
  margin-left: 28.3%;
}
[rend~="style965"] {
  text-align: left;
  margin-left: 10.1%;
}
[rend~="style966"] {
  text-align: left;
  margin-left: 25.6%;
}
[rend~="style967"] {
  text-align: left;
  margin-left: 20%;
}
[rend~="style968"] {
  text-align: left;
  margin-left: 16%;
}
[rend~="style969"] {
  text-align: left;
  margin-left: 26.75%;
}
[rend~="style970"] {
  width: 151px;
}
[rend~="style971"] {
  margin-left: 35%;
  text-align: center;
}
[rend~="style972"] {
  width: 50%;
}
[rend~="style973"] {
  width: 53%;
}
[rend~="style974"] {
  text-align: center;
}
[rend~="style975"] {
  margin-left: 7.5%;
}
[rend~="style976"] {
  width: 355px;
}
[rend~="style977"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style978"] {
  width: 255px;
}
[rend~="style979"] {
  margin-left: 16%;
  margin-right: 16%;
}
[rend~="style980"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style981"] {
  text-align: left;
  margin-left: 13%;
}
[rend~="style982"] {
  margin-left: 14%;
}
[rend~="style983"] {
  text-align: left;
  margin-left: 29%;
}
[rend~="style984"] {
  margin-left: 20.5%;
}
[rend~="style985"] {
  margin-left: 28.4%;
}
[rend~="style986"] {
  margin-left: 23.75%;
}
[rend~="style987"] {
  margin: 0 auto;
  width: 102px;
}
[rend~="style988"] {
  text-align: left;
  margin-left: 31.8%;
}
[rend~="style989"] {
  text-align: left;
  margin-left: 31.37%;
}
[rend~="style990"] {
  margin-left: 80%;
  margin-right: 80%;
}
[rend~="style991"] {
  width: 350px;
}
[rend~="style992"] {
  text-align: left;
}
[rend~="style993"] {
  text-align: left;
}
[rend~="style994"] {
  font-size: 2.25em;
  letter-spacing: 1.25em;
}
[rend~="style995"] {
  font-size: 2.25em;
}
[rend~="style996"] {
  font-size: 0.75em;
}
[rend~="style997"] {
  font-size: 1.25em;
}
[rend~="style998"] {
  font-size: 1.125em;
  letter-spacing: 0.125em;
}
[rend~="style999"] {
  list-style-type: none;
  padding-left: 0;
}
[rend~="style1000"] {
  font-size: 200%;
}
[rend~="style1001"] {
  text-align: center;
  padding: 5px;
}
[rend~="style1002"] {
  font-size: 200%;
}
[rend~="style1003"] {
  border-width: 0px;
}
[rend~="style1004"] {
  font-size: 0.8em;
  float: right;
}
[rend~="style1005"] {
  padding-left: 2em;
}
[rend~="style1006"] {
  font-size: 0.8em;
}
[rend~="style1007"] {
  font-size: 2em;
}
[rend~="style1008"] {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}
[rend~="style1009"] {
  float: right;
}
[rend~="style1010"] {
  margin-left: 10%;
  margin-right: 10;
  text-align: left;
}
[rend~="style1011"] {
  font-weight: bold;
  font-family: Times New Roman;
  color: #b83114;
}
[rend~="style1012"] {
  height: 420px;
}
[rend~="style1013"] {
  font-weight: bold;
  font-family: Times New Roman;
}
[rend~="style1014"] {
  height: 155px;
}
[rend~="style1015"] {
  width: 130px;
}
[rend~="style1016"] {
  float: left;
}
[rend~="style1017"] {
  margin-left: 100px;
}
[rend~="style1018"] {
  margin-left: 30px;
}
[rend~="style1019"] {
  text-align: center;
  height: 45%;
  width: 50%;
}
[rend~="style1020"] {
  margin-left: 45%;
  margin-right: 25%;
}
[rend~="style1021"] {
  margin-left: 30%;
  margin-right: 30%;
}
[rend~="style1022"] {
  font-size: 70%;
}
[rend~="style1023"] {
  margin-left: 32.5%;
}
[rend~="style1024"] {
  text-align: right;
  margin-right: 43%;
}
[rend~="style1025"] {
  text-align: right;
  margin-right: 51%;
}
[rend~="style1026"] {
  margin-left: 6%;
}
[rend~="style1027"] {
  margin-left: 50%;
  margin-right: 0%;
}
[rend~="style1028"] {
  margin-left: 13.5%;
}
[rend~="style1029"] {
  text-align: left;
  margin-left: 32%;
}
[rend~="style1030"] {
  margin-left: 24%;
  margin-right: 10%;
}
[rend~="style1031"] {
  margin-left: 22%;
  margin-right: 10%;
}
[rend~="style1032"] {
  margin-left: 13%;
  margin-right: 10%;
}
[rend~="style1033"] {
  margin-left: 8%;
  margin-right: 10%;
}
[rend~="style1034"] {
  text-align: center;
  color: red;
}
[rend~="style1035"] {
  list-style-type: none;
}
[rend~="style1036"] {
  margin-left: 1.5%;
}
[rend~="style1037"] {
  margin-left: 40%;
}
[rend~="style1038"] {
  margin-left: 37%;
}
[rend~="style1039"] {
  margin-left: 21%;
}
[rend~="style1040"] {
  margin-left: 10%;
  margin-right: 10%;
}
[rend~="style1041"] {
  text-align: left;
  margin-left: 16.5%;
}
[rend~="style1042"] {
  margin-left: 10%;
  margin-right: 12%;
}
[rend~="style1043"] {
  margin-left: 10%;
  margin-right: 13%;
}
[rend~="style1044"] {
  margin-left: 10%;
  margin-right: 11%;
}
[rend~="style1045"] {
  float: left;
  width: 45%;
}
[rend~="style1046"] {
  float: left;
  width: 10%;
}
[rend~="style1047"] {
  text-align: left;
  margin-left: 30.5%;
}
[rend~="style1048"] {
  margin-left: 46%;
}
[rend~="style1049"] {
  text-align: left;
  margin-left: 23.5%;
}
[rend~="style1050"] {
  text-align: left;
  margin-left: 28.5%;
}
[rend~="style1051"] {
  margin-left: 51%;
}
[rend~="style1052"] {
  text-align: left;
  margin-left: 35.75%;
}
[rend~="style1053"] {
  text-align: left;
  margin-left: 35.75%;
}
[rend~="style1054"] {
  margin-left: 80%;
  margin-right: 10%;
}
[rend~="style1055"] {
  counter-reset: line 40;
}
[rend~="style1056"] {
  float: left;
  width: 15%;
}
[rend~="style1057"] {
  float: left;
  width: 42.5%;
}
[rend~="style1058"] {
  text-align: left;
  margin-left: 37.25%;
}
[rend~="style1059"] {
  margin-left: 65%;
  margin-right: 10%;
}
[rend~="style1060"] {
  margin-left: 70%;
  margin-right: 10%;
}
[rend~="style1061"] {
  margin-left: 72.5%;
  margin-right: 10%;
}
[rend~="style1062"] {
  margin-left: 25%;
  margin-right: 10%;
}
[rend~="style1063"] {
  margin-left: 55%;
  margin-right: 10%;
}
[rend~="style1064"] {
  margin-left: 60%;
  margin-right: 10%;
}
[rend~="style1065"] {
  margin-left: 90%;
}
[rend~="style1066"] {
  text-align: left;
  margin-left: 50%;
}
tei-note {
  display: none;
}
tei-name {
  display: none;
}
